body {
  background-color: darkgoldenrod;
  padding: 0;
  margin: 0;
}
#flex {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#toDoList {
  background-color: aquamarine;
  height: fit-content;
}

.task {
  background-color: whitesmoke;
  width: 80%;
  margin: auto;
  margin-bottom: 5px;
  border: 1px solid black;

  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.delete {
  border-radius: 50%;
  color: blue;
  background-color: cadetblue;
}

.completed {
  background: cornflowerblue;
  text-decoration: line-through;
}
